---
import AboutUsImage from "@assets/images/about-us.png";
import Picture from "astro/components/Picture.astro";

interface Props {
  t: any;
}

const { t } = Astro.props;
---

<div
  class="relative rounded-2xl border border-neutral-800 overflow-hidden select-none"
>
  <div
    class="aspect-[4/3] bg-gradient-to-br from-emerald-600/20 via-teal-400/10 to-fuchsia-500/10"
  >
    <Picture
      src={AboutUsImage}
      alt={t.components.aboutUs.alt}
      class="object-cover object-top w-full h-full"
      formats={["avif", "webp", "png"]}
      loading={"lazy"}
    />
  </div>
  <div class="p-4 bg-neutral-800/50">
    <h3 class="font-semibold">{t.components.aboutUs.title}</h3>
    <p class="text-sm text-neutral-400 mt-1">
      {t.components.aboutUs.description}
    </p>
  </div>
</div>
