---
import type { Language } from "@/types/language.type";
import Search from "./Search.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
const lang = (Astro.params.lang as Language) || "es";
---

<section class="select-none flex flex-col px-9">
  <h1 class="text-4xl font-medium max-w-md mb-7">{title}</h1>
  <p class="text-md max-w-xl mb-7 text-balance">{description}</p>

  <Search />
</section>
