---

---

<div
  class="rounded-2xl border border-neutral-800 bg-neutral-900/40 select-none"
>
  <div class="p-4 border-b border-neutral-800">
    <h3 class="font-semibold">Novedades</h3>
  </div>
  <ul class="p-4 space-y-3 text-sm text-neutral-300">
    <li class="flex gap-2">
      <a
        href="/text?tool=text-analyzer"
        class="cursor-pointer mt-1 hover:text-green-400 rounded-full flex gap-2 before:content-['●'] before:text-green-400"
        >Analizador de textos</a
      >
    </li>
    <li class="flex gap-2">
      <a
        href="/text?tool=json-formatter"
        class="cursor-pointer mt-1 hover:text-green-400 rounded-full flex gap-2 before:content-['●'] before:text-green-400"
        >Formateador de JSON</a
      >
    </li>
  </ul>
</div>
