---

---

<footer
  class="w-full border-t border-t-white/10 py-2 text-center text-sm text-gray-400"
>
  <span class="flex items-center justify-center"
    >Hecho con <p class="mx-2 animate-pulse text-red-500">❤︎</p> y Astro.js</span
  >
</footer>
