---
import MainLayout from "@/Layouts/MainLayout.astro";
import Hero from "@/components/shared/Hero.astro";

import type { Language } from "@/types/language.type";
import { getTranslation } from "@/i18n/index";

const lang = Astro.params.lang as Language;
const privacyContent = getTranslation(lang, "pages.privacy.content");
---

<MainLayout
  title={getTranslation(lang, "seo.pages.privacy.title")}
  description={getTranslation(lang, "seo.pages.privacy.description")}
>
  <Hero
    title={getTranslation(lang, "pages.privacy.title")}
    description={getTranslation(lang, "pages.privacy.description")}
  />

  <div
    class="bg-neutral-800/50 overflow-hidden rounded-2xl border border-neutral-800 mt-5 p-6 select-none"
  >
    <div>
      {
        Array.isArray(privacyContent) &&
          privacyContent.map((section) => (
            <div class="mb-6 last:mb-0">
              <h2 class="text-xl md:text-2xl font-bold leading-tight mb-4">
                {section.title}
              </h2>
              {Array.isArray(section.paragraphs) &&
              section.paragraphs.length > 1 ? (
                <ul class="list-disc list-inside mb-4">
                  {section.paragraphs.map((paragraph: string) => (
                    <li class="mb-2 text-neutral-400" set:html={paragraph} />
                  ))}
                </ul>
              ) : (
                <p
                  class="mb-4 text-neutral-400"
                  set:html={
                    Array.isArray(section.paragraphs)
                      ? section.paragraphs[0]
                      : ""
                  }
                />
              )}
            </div>
          ))
      }
    </div>
  </div>
</MainLayout>
