---

---

<footer class="border-t border-neutral-800 py-8 select-none">
  <div
    class="mx-auto max-w-7xl px-4 text-sm text-neutral-400 flex flex-col md:flex-row items-center justify-between gap-4"
  >
    <p>
      Hecho con <span class="animate-pulse text-red-500">❤︎</span> y Astro.js
    </p>
    <div class="flex items-center gap-4">
      <a href="#" class="hover:text-neutral-200">Privacidad</a>
      <a href="#" class="hover:text-neutral-200">Términos</a>
      <a href="#" class="hover:text-neutral-200">Contacto</a>
    </div>
  </div>
</footer>
