---
import Title from "../components/shared/Title.astro";
import MainLayout from "../Layout/MainLayout.astro";
---

<MainLayout>
  <Title styles="super-title">Tu caja de herramientas en la web.</Title>
</MainLayout>
