@import "tailwindcss";

:root {
  --text-base: 16px;
}

body {
  font-size: var(--text-base, 1rem);
}

/* 36px */
h1 {
  font-size: 2.25rem;
  font-weight: 700;
}
/* 28px */
h2 {
  font-size: 1.75rem;
  font-weight: 600;
}
/* 22px */
h3 {
  font-size: 1.375rem;
  font-weight: 600;
}
/* 16px */
a,
p {
  font-size: 1rem;
  font-weight: 400;
}
/* 14px */
.small {
  font-size: 0.875rem;
}
/* 12px */
.caption {
  font-size: 0.75rem;
}

/* > 36px */
.super-title {
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: 800;
  line-height: 1.1;
}

/* ICONS */
.icon-white {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg) brightness(2);
}
