@import "tailwindcss";

@theme {
  /* Colors Palette */
  --sea-buckthorn-50: 26 100% 94%;
  --sea-buckthorn-100: 27 100% 85%;
  --sea-buckthorn-200: 36 100% 58%;
  --sea-buckthorn-300: 39 100% 46%;
  --sea-buckthorn-400: 40 100% 41%;
  --sea-buckthorn-500: 39 100% 35%;
  --sea-buckthorn-600: 39 100% 28%;
  --sea-buckthorn-700: 38 100% 22%;
  --sea-buckthorn-800: 37 100% 15%;
  --sea-buckthorn-900: 34 100% 9%;
  --sea-buckthorn-950: 31 100% 5%;
}

:root {
  font-size: 16px;
}

/* 36px */
h1 {
  font-size: 2.25rem;
  font-weight: 700;
}
/* 28px */
h2 {
  font-size: 1.75rem;
  font-weight: 600;
}
/* 22px */
h3 {
  font-size: 1.375rem;
  font-weight: 600;
}
/* 16px */
a,
p {
  font-size: 1rem;
  font-weight: 400;
}
/* 14px */
.small {
  font-size: 0.875rem;
}
/* 12px */
.caption {
  font-size: 0.75rem;
}

/* > 36px */
.super-title {
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: 800;
  line-height: 1.1;
}

/* BG PAGE */
.radial-glow {
  position: absolute;
  inset: 0;
  z-index: -10;
  background-image: radial-gradient(
    circle 500px at 50% 300px,
    rgba(16, 185, 129, 0.35),
    transparent
  );
}
